# --------------------
# PYTHON
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Flask
instance/
.webassets-cache

# --------------------
# ENV FILES
# --------------------
.env

# --------------------
# DATABASE
# --------------------
*.db
*.sql

# --------------------
# VSCODE
# --------------------
.vscode/

# --------------------
# MAC
# --------------------
.DS_Store

# --------------------
# DOCKER
# --------------------
docker-compose.override.yml
*.log

# --------------------
# FRONTEND
# --------------------
node_modules/
dist/
build/

# --------------------
# SYSTEM FILES
# --------------------
Thumbs.db
